/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #faf1e4;
    color: #435334;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #cedebe;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #435334;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select,
  button {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
  }
  
  #categories {
    margin-bottom: 10px;
  }
  
  .category {
    display: flex;
    gap: 10px;
  }
  
  #chartContainer {
    margin-top: 20px;
    height: 300px;
  }